on:
  push:
  pull_request:
name: check
jobs:
  check:
    name: codestyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
        with:
          python-version: "3.9"
          architecture: "x64"
      - uses: snok/install-poetry@v1.1.1
      - run: poetry install
      - run: poetry run black --check .
      - run: poetry run mypy ./kindle_sdr_cleaner.py
